<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kirjaudu sisään</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Keskustelufoorumi</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Etusivu</a></li>
      <li><a href="/newpost">Uusi viesti</a></li>
      <li><a href="/mymessages">Omat viestit</a></li>
      <li><a href="/search">Haku</a></li>
    </ul>

    {% if session.user_id %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Kirjaudu ulos</a></li>
      </ul>
    {% else %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Luo tili</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Kirjaudu sisään</a></li>
      </ul>
    {% endif %}
  </div>
</nav>


<div class="sisalto">
<title>Kirjaudu sisään</title>
    <h1>Kirjaudu sisään:</h1>
    <br>
<form action="/login" method="POST">
    Käyttäjänimi: <input type="text" name="username"> <br>
    Salasana: <input type="password" name="password"> <br>
    <br>
    <input type="submit" value="Kirjaudu">
    </form>
</div>

 <div class="footer">
    <p>Tsoha-harjoitustyö</p>
    </div>
            
</body>
</html>